@import url('https://fonts.cdnfonts.com/css/international-super-hero');
html { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } 

body {
  background: url(https://wallpaperaccess.com/full/670557.jpg) no-repeat center center fixed;
  color: rgb(231, 78, 23);
  font-family: 'International Super Hero', sans-serif;
  font-family: 'International Super Hero Out', sans-serif;
  font-family: 'International Super Hero Exp', sans-serif;
  font-family: 'International Super Hero Cond', sans-serif;
  font-family: 'International Super Hero Light', sans-serif;
}
/* Add a background color to the top navigation */
.topnav {
  background-color: rgba(55, 54, 54, 0.17);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(39, 37, 37);
  color: rgb(231, 78, 23);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(231, 78, 23);
  color: white;
}

h1 {
  text-align: center;
  margin-top: 55px;
  margin-bottom: 55px;
}
.card-body {
background-color: rgb(35, 35, 35);
}

#main-content {
    text-align: center;
    margin-top: 25px;
}

#message {
  background-color: rgb(35, 35, 35);
  color: azure;
}
  
img {
    width: 30vh;
    transition: transform .2s; /* Animation */
    box-shadow: 1px 1px 7px 1px  rgb(82, 81, 81);
  
}

img:hover {
  transform: scale(1.2);
}


.index-page > .row {
  width: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  padding-top: 5rem;
  padding-left: 30pc;
}

.index-page > h1 {
  color: aliceblue;
  text-align: center; 
  font-size: 60px;
  padding-right: 7rem;
}

a {
    color: rgb(231, 78, 23);
  }

  a:hover {
    color: white;
  }

  ul {
    list-style-type: none;
}

input{
  background-color:rgb(35, 35, 35);
  color:ivory
}

input:hover {
  color: rgb(231, 78, 23);
}

.btn {
  background-color: rgb(231, 78, 23);
  color: white;
}
.submit {
  color: rgb(231, 78, 23);

}

.ad-banner {
  position: absolute;
  padding-top: 210px;
  padding-left: 30px;
 max-width: 10%;
 max-height: 100%;
 /* border: solid white;  */
}

.ad-banner > img {
  width: 200px;
 
}

.right-banner {
  font-size: 40px;
   position: relative;
  padding-top: -40px;
  padding-right: 30px;
  float: right;
  /* border: solid white;  */
  width: 200px; 
  max-height: 120%; 
}

.right-banner > img {
  width: 200px;
 
}

.collection {
  position: absolute;
  padding-left: 30px;
  /* padding-bottom: 0px; */
  font-size: 40px;
}

/* .legends {
  position: relative;
  padding-top: 10px;
  padding-right: 30px;
  float: right;
  font-size: 40px;
   border: solid white; 
} */

