@import url('http://fonts.cdnfonts.com/css/charasans');

html { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } 

body {
  background: url(https://wallpaperaccess.com/full/670557.jpg) no-repeat center center fixed;
  color: rgb(231, 78, 23);
  font-family: 'CharaSans', sans-serif;
  font-family: 'CharaSerif', sans-serif;
}

h1 {
  text-align: center;
  margin-top: 55px;
  margin-bottom: 55px;
}
.card-body {
background-color: rgb(55, 54, 54);
}

#main-content {
    text-align: center;
    margin-top: 25px;
}

#message {
  background-color: rgb(55, 54, 54);
  color: azure;
}
  
img {
    width: 30vh;
    transition: transform .2s; /* Animation */
}

img:hover {
  transform: scale(1.3);
}


.index-page > .row {
  width: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  padding-top: 5rem;
  padding-left: 30pc;
}

.index-page > h1 {
  color: aliceblue;
  text-align: center; 
  font-size: 60px;
  padding-right: 7rem;
}

a {
    color: rgb(231, 78, 23);
  }

  a:hover {
    color: white;
  }

  ul {
    list-style-type: none;
}

input{
  background-color:rgb(55, 54, 54);
  color:ivory
}

input:hover{
  color: red
}